CompileFlags:
  CompilationDatabase: c:\VS\ITS-BRD-VSC\Programs\Drehgeber\out\Drehgeber\ITSboard\Debug
  Add:
    - '-D__ARMCOMPILER_LIBCXX=1'
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/Inc'
    - >-
      -IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../stm32cubef4/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - >-
      -IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../stm32cubef4/Drivers/CMSIS/Include
    - >-
      -IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../stm32cubef4/Drivers/STM32F4xx_HAL_Driver/Inc
    - >-
      -IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../stm32cubef4/Drivers/BSP/STM32F4xx_Nucleo_144
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../stm32cubef4/Utilities/Fonts'
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../DisplayWaveshare/Inc'
    - >-
      -IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../ITS_BRD_LIB/Utilities/AddFonts
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/tmp/Drehgeber.Debug+ITSboard'
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/RTE/_Debug_ITSboard'
    - '-IC:/Users/Timo/AppData/Local/Arm/Packs/ARM/CMSIS/6.1.0/CMSIS/Core/Include'
    - >-
      -IC:/Users/Timo/AppData/Local/Arm/Packs/Keil/STM32F4xx_DFP/2.17.1/Drivers/CMSIS/Device/ST/STM32F4xx/Include
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/../../ITS_BRD_LIB/Inc'
    - '-IC:/VS/ITS-BRD-VSC/Programs/Drehgeber/.'
